#langchain autonomous automation 
langchain
langchain-ollama
langchain-google-genai
langgraph
deepagents

#langchain Qdrant
langchain-qdrant

#settings config
pydantic
pydantic-settings

#read env file
python-dotenv

#server service
fastapi
uvicorn[standard]

# #for search engine
tavily

# #for text to sql agent
text2sql-framework[langchain]

#for database connection
sqlalchemy